@page
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Postman request results sent by SignalR</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/contact.js"></script>